@model IList<Student>

<h3>Student List</h3>

    <table class="table">
        <!--Create a new student here/ create a div and throw the action inside it with a button-->
      <div>
          <a asp-controller="Student" asp-action="Create" class="btn btn-secondary">Create</a>
      </div>
        
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Course</td>
                <td>Age</td>
                <td>Actions</td>
            </tr>

        </thead>

        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>@s.Course</td>
                    <td>@s.Age</td>
                    <td> 
                        <a asp-controller="Student" asp-action="Details" asp-route-id="@s.Id">View</a>
                        <a asp-controller="Student" asp-action="Edit" asp-route-id="@s.Id">Edit</a>
                        <a asp-controller="Student" asp-action="Delete" asp-route-id="@s.Id">Delete</a>
                                
                    </td>
                </tr>
                
            }
            
            
        </tbody>
    </table>

       


